


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg{
    width: 16px;
    height: 16px;
    top: 14px;
    left: 14px;
    position: absolute;
    fill: none;
    stroke: black ;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
	background: #F5F4FE;

	font-family: 'Montserrat', sans-serif;

}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background-color: white;
}
.logo{
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    float: left;
}

li {
    list-style-type: none;
    margin-left: 3rem;
}

.icons{
    display: flex;
    align-items: center;
}
i{
    font-size: 25px;
    padding-right: 15px;
}
i:hover{

}
a{
    color: black;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;

   
    padding: 10px;
  }
  
  .grid-container > div {
  

    padding: 5px 0;

  }

.user_sug{
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 250px;
}
.user_sug h2{
font-size: 25px;
float: left;
padding-left: 20px;
}
.sug_pfp img{
width: 50px;
height: 50px;
float: left;
border-radius: 50%;
margin-right: 10px;
}
#pfp_sug{
    font-size: 15px;
    font-weight: bold;
}
.container {
    padding: 60px 20px;
  }