


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg{
    width: 16px;
    height: 16px;
    top: 14px;
    left: 14px;
    position: absolute;
    fill: none;
    stroke: black ;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
	background: #F5F4FE;

	font-family: 'Montserrat', sans-serif;

}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background-color: white;
}
.logo{
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    float: left;
}

li {
    list-style-type: none;
    margin-left: 3rem;
}

.icons{
    display: flex;
    align-items: center;
}
i{
    font-size: 25px;
    padding-right: 15px;
}
i:hover{

}
a{
    color: black;
}